# Pandas (1)

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [1]:
import pandas as pd

df = pd.read_csv('sp500hst.txt', sep = ',', header = None,
           names = ["date", "ticker", "open", "high", "low", "close", "volume"])

FileNotFoundError: [Errno 2] File sp500hst.txt does not exist: 'sp500hst.txt'

In [90]:
import numpy as np
import random as rd

In [10]:
df.dtypes

date        int64
ticker     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [12]:
df.head(3)

       date ticker   open   high     low  close  volume
0  20090821      A  25.60  25.61  25.220  25.55   34758
1  20090824      A  25.64  25.74  25.330  25.50   22247
2  20090825      A  25.50  25.70  25.225  25.34   30891

In [13]:
df.mean()

date      2.009715e+07
open      4.259546e+01
high      4.310224e+01
low       4.205446e+01
close     4.260186e+01
volume    8.139507e+04
dtype: float64

In [17]:
df.iloc[:, 3:7].mean()

high         43.102243
low          42.054464
close        42.601865
volume    81395.068138
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [24]:
df['date'] = pd.to_datetime(df['date'], format = '%Y%m%d')
df.head()
df.dtypes

date      datetime64[ns]
ticker            object
open             float64
high             float64
low              float64
close            float64
volume             int64
dtype: object

In [30]:
df['month'] = df['date'].dt.month
df.head()

        date ticker   open     high     low  close  volume  month
0 2009-08-21      A  25.60  25.6100  25.220  25.55   34758      8
1 2009-08-24      A  25.64  25.7400  25.330  25.50   22247      8
2 2009-08-25      A  25.50  25.7000  25.225  25.34   30891      8
3 2009-08-26      A  25.32  25.6425  25.145  25.48   33334      8
4 2009-08-27      A  25.50  25.5700  25.230  25.54   70176      8

## Лабораторная работа №2.1

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [4]:
recipes = pd.read_csv('recipes_sample.csv',sep = ',')
reviews = pd.read_csv('reviews_sample.csv',sep = ',')
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [16]:
reviews_1 = reviews.rename(columns= {reviews.columns[0]: 'id'})
reviews_1

,id,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [17]:
print("{} - строк recipes, {} - строк reviews_1".format(recipes.shape[0],reviews_1.shape[0]))
print("{} - столбцов recipes, {} - столбцов reviews_1".format(recipes.shape[1],reviews_1.shape[1]))

30000 - строк recipes, 126696 - строк reviews_1
8 - столбцов recipes, 6 - столбцов reviews_1

In [72]:
print(recipes.dtypes)

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [70]:
print(reviews.dtypes)

Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [50]:
reviews_1.isna().sum(),recipes.isna().sum()

(id            0
 user_id       0
 recipe_id     0
 date          0
 rating        0
 review       17
 dtype: int64,
 name                  0
 id                    0
 minutes               0
 contributor_id        0
 submitted             0
 n_steps           11190
 description         623
 n_ingredients      8880
 dtype: int64)

In [49]:
print((reviews_1['review'].isna().sum() * 100 /reviews_1['review'].shape)[0], '-%   | доля пропусков столбца review')
#

0.013417945317926375 -%   | доля пропусков столбца review

In [66]:
recipes.isna().sum() * 100 / recipes.shape[0]

name               0.000000
id                 0.000000
minutes            0.000000
contributor_id     0.000000
submitted          0.000000
n_steps           37.300000
description        2.076667
n_ingredients     29.600000
dtype: float64

1.4 Рассчитайте и выведите на экран среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [78]:
recipes[['minutes','n_ingredients']].mean() # средние значения для данных recipes

minutes          123.358133
n_ingredients      9.008286
dtype: float64

In [81]:
reviews_1['rating'].mean() # среднее значение для review

4.410802235271832

1.5 Создайте и выведите на экран серию из 10 случайных названий рецептов.

In [106]:
rand_10 = np.random.randint(1,recipes.shape[0],10) 
recipes.iloc[rand_10] #для таблицы recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
32,tastes like mounds bar kahlua cake,129581,150,191220,2005-07-12,33.0,this was made by a friend of mine who is in a ...,NaN
25126,spanish rice pronto,100103,20,25063,2004-09-17,NaN,"my mom used to make this, and i found her reci...",10.0
5687,chicken breasts with portabella mushrooms,399381,35,583349,2009-11-15,11.0,impressive dish with minimal effort involved. ...,10.0
26612,sweet and sour pork chops,370992,65,882785,2009-05-09,21.0,from cook yourself thin,13.0
23720,scrambled eggs indian style,482989,25,482376,2012-07-11,8.0,this is a recipe i've adapted from sara moulto...,13.0
927,apple pie filling canned or you can freeze it,335405,50,425677,2008-11-06,NaN,this is such a handy recipe to have during app...,9.0
12492,grass roots fudge pie,380973,45,779699,2009-07-10,12.0,this is a more fudge-y version of a chocolate ...,NaN
11716,garbanzos y chorizo,320172,12,464080,2008-08-18,4.0,tapas recipe that is very simple (from whole f...,5.0
15730,lebanese style fava bean pilaf,427634,40,496803,2010-05-29,NaN,posted for zwt6. serve with a green salad to ...,13.0
661,amish baked corn,179128,55,331278,2006-07-24,NaN,i enjoy making simple amish dishes and have be...,9.0

In [108]:
reviews_1.iloc[rand_10] #для таблицы review

,id,user_id,recipe_id,date,rating,review
32,660094,2054214,352053,2011-11-05,5,"I live on this soup cold, with yogurt whipped ..."
25126,149981,1434684,318260,2009-11-02,0,Fabulous Vegetarian Recipe!!! Vegetarians can ...
5687,510246,1244045,89207,2009-10-02,5,Great frosting. My hubby and daughter loved it!
26612,1020092,217226,49591,2005-10-02,4,These are pretty good. They're not my favorite...
23720,1050421,770898,23647,2008-03-02,5,"No changes needed for this recipe,this is the ..."
927,310882,489552,113385,2013-10-23,5,This was a great soup for a cold day. I was s...
12492,1046265,144204,104393,2008-01-13,4,Very easy and very tasty. I doubled the amt of...
11716,210673,180898,48364,2009-12-01,5,I just tested these to see if I wanted to make...
15730,711844,278118,348296,2010-05-14,4,This was easy to put together. My kiddos were...
661,9160,461834,456076,2011-11-09,5,I love potato gratins and this one was great!!...

1.6 Выведите на экран строку с __номером__ `54200`. Выведите на экран строку с __индексом__ `54200`.

In [126]:
reviews_1.iloc[54200]

id                                                      667742
user_id                                                 813584
recipe_id                                                  916
date                                                2008-08-16
rating                                                       5
review       I've made this 3-4 times already and forgot to...
Name: 54200, dtype: object

In [127]:
reviews_1.loc[54200]

id                                                      667742
user_id                                                 813584
recipe_id                                                  916
date                                                2008-08-16
rating                                                       5
review       I've made this 3-4 times already and forgot to...
Name: 54200, dtype: object

1.7 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [131]:
reviews_1.set_index(np.arange(1,reviews_1.shape[0]+1))

,id,user_id,recipe_id,date,rating,review
1,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
2,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
3,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
4,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
5,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126692,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126693,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126694,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126695,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126696,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.8 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [151]:
# recipes[((recipes['minutes'] < 20) & recipes['n_ingredients'] < 5)]
recipes[(recipes['minutes'] < 20) & (recipes['n_ingredients'] < 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
143,2 minute broccoli,256464,4,165433,2007-10-01,7.0,"so easy. tender crisp. hot, steamed broccoli...",2.0
168,3 ingredient moroccan dry rub,505748,3,65502,2013-08-12,NaN,who says that recipes have to be complicated t...,3.0
...,...,...,...,...,...,...,...,...
29817,zen wine spritzer,498523,1,2585084,2013-04-06,3.0,this is a light and refreshing beverage that i...,4.0
29858,zesty stuffed olives,269904,10,226066,2007-12-05,NaN,from kraft. too cute not to try!!,4.0
29866,zhanyshpa from kazakhstan,160599,15,279179,2006-03-20,NaN,this is another typical kazakh dessert.,4.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [239]:
recipes[pd.to_datetime(recipes['submitted'], format = "%Y-%m-%d").dt.year > 2010]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0
13,blepandekager danish apple pancakes,503475,50,128473,2013-07-08,10.0,this recipe has been posted here for play in z...,NaN
36,5 minute bread pizza,487173,45,2406227,2012-09-19,30.0,my son recently showed me a recipe for artisan...,8.0
39,bacon cheeseburger and fries soup,447429,60,1355934,2011-01-26,NaN,"my son asked for cheeseburger soup, and having...",17.0
47,full cool macaroni and cheese,463219,25,383346,2011-08-28,8.0,a recipe from ricardo that is popular with kid...,11.0
...,...,...,...,...,...,...,...,...
29959,zucchini pizza boats,468144,35,1885554,2011-11-13,10.0,this recipe originally appeared on budgetbytes...,NaN
29965,zucchini sausage casserole,472482,80,447199,2012-01-20,13.0,this was a real hit with my family! this recip...,NaN
29976,zucchini tots,505053,20,798181,2013-07-31,NaN,'the happy homemaker blog' shared this recipe ...,NaN
29994,zuppa by luisa,464576,70,226863,2011-09-20,14.0,this soup is a hearty meal! from luisa musso.,17.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN

In [327]:
recipes_2 = pd.read_csv('recipes_sample.csv',sep = ',',  parse_dates = ['submitted'])
recipes_2

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [237]:
# # recipes['year'] = pd.to_datetime(recipes['submitted']).dt.year
# # recipes
# recipes = recipes.drop(['year'] , axis = 1)
# recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [240]:
recipes[pd.to_datetime(recipes['submitted'], format = "%Y-%m-%d").dt.year > 2010]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0
13,blepandekager danish apple pancakes,503475,50,128473,2013-07-08,10.0,this recipe has been posted here for play in z...,NaN
36,5 minute bread pizza,487173,45,2406227,2012-09-19,30.0,my son recently showed me a recipe for artisan...,8.0
39,bacon cheeseburger and fries soup,447429,60,1355934,2011-01-26,NaN,"my son asked for cheeseburger soup, and having...",17.0
47,full cool macaroni and cheese,463219,25,383346,2011-08-28,8.0,a recipe from ricardo that is popular with kid...,11.0
...,...,...,...,...,...,...,...,...
29959,zucchini pizza boats,468144,35,1885554,2011-11-13,10.0,this recipe originally appeared on budgetbytes...,NaN
29965,zucchini sausage casserole,472482,80,447199,2012-01-20,13.0,this was a real hit with my family! this recip...,NaN
29976,zucchini tots,505053,20,798181,2013-07-31,NaN,'the happy homemaker blog' shared this recipe ...,NaN
29994,zuppa by luisa,464576,70,226863,2011-09-20,14.0,this soup is a hearty meal! from luisa musso.,17.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [379]:
recipes['description_length'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

In [378]:
recipes['description'].str.split(' ').str.len()

0         61.0
1         46.0
2          8.0
3         30.0
4        113.0
         ...
29995     87.0
29996     51.0
29997     59.0
29998    122.0
29999     22.0
Name: description, Length: 30000, dtype: float64

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [268]:
recipes_1 = recipes
recipes_1['name'] = recipes['name'].str.capitalize()
recipes_1

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [438]:
recipes_1['name_word_count'] = recipes['name'].str.split().str.len()
recipes_1

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7